/* Khai báo biến */
:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    /* độ cao của chữ 16px */
    font-family: 'Roboto', sans-serif;
    /* sans-serif chủng tập hợp những font không có chân */
    box-sizing: border-box;
}

/* Responsive */
.grid {
    width: 1800px;
    max-width: 100%;
    margin: 0 auto;
    /* giúp thích nghi màn hình nhỏ hơn 1200px */
}

.grid__full-wdith {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    /* nhảy xuống hàng khi thu nhỏ */
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
        /* phóng lên */
    }

    to {
        transform: scale(var(--growth-to));
        /* phóng lên */
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    /* display: none; */
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Btn */
.btn {
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    /* padding: 0; */
    line-height: 1.6rem;
    cursor: pointer;
    color: var(--text-color);
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--nomal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* Vô hiệu hóa nút */
.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Selection */
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgba(131, 131, 131);
}

.select-input__list {
    position: absolute;
    top: 26px;
    right: 0;
    left: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 12px 16px;
    display: none;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.select-input__list::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
}

.select-input__item {
    list-style: none;
}

.select-input__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 8px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #ed654a;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 2px;
}